html {
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
  margin:0;
  background-color:#F7F7F7;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.ruler{
  position: absolute;
  border:1px solid red;
  width:calc(100%*80/1092);
  height:2000px;
  display: none;
}

.r1{
  left:0;
}
.r2{
  left:calc(100%*1*92/1092);
}
.r3{
  left:calc(100%*2*92/1092);
}
.r4{
  left:calc(100%*3*92/1092);
}
.r5{
  left:calc(100%*4*92/1092);
}
.r6{
  left:calc(100%*5*92/1092);
}
.r7{
  left:calc(100%*6*92/1092);
}
.r8{
  left:calc(100%*7*92/1092);
}
.r9{
  left:calc(100%*8*92/1092);
}
.r10{
  left:calc(100%*9*92/1092);
}
.r11{
  left:calc(100%*10*92/1092);
}
.r12{
  left:calc(100%*11*92/1092);
}

.column-6{
  margin-left: calc(100%*276/1092);
  width: calc(100%*540/1092);
}

h3{
  color: #9c9c9c
}

p{
  font-size: 13px;
  color: #9c9c9c
}


.file-container{
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.file-info{
  display: flex;
  width: calc(100%*448/540);
}

.file-container img{
  background-color: white;
  border-radius: 5px;
  width: 100%;
  max-width: 60px;
  height: auto;
}
.img-container{
  width: calc(92/540*100%);
}

.action-details{
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  width: calc(276/540*100%);
  font-size: 1rem;
  width: 80%;
}

.action{
  color: black;
  overflow: hidden;
}

.details{
  color: #9c9c9c;
  margin-top: 10px;
}

.underline{
  border-bottom: 1px solid grey;
}


p {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  margin:0;
}

.action {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
}

.status{
  font-size: 1rem;
  text-align: right;
  width:20%;
}


.file-container .action span{
  border-bottom: 1px solid grey;
}

.status-declined .action span{
  border-bottom: 1px solid grey;
}

.status-checked .action span{
  border-bottom: none
}

.status-checking .action span{
  border-bottom: none
}

.status-checked .status p{
  color: green;
}
.status-checked .status p::after{
  content:'Проверено';
}

.status-declined .status p{
  color: red;
}
.status-declined .status p::after{
  content:'Отклонено';
}

.status-checking .status p{
  color: grey;
}
.status-checking .status p::after{
  content:'Идет проверка';
}


.style-input {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 1000px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: 0;
  background: #fff;
  cursor: inherit
}


